.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.details-box {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%; 
}
ul {
  list-style-type: none;
}

.carousel-title {
     font-family: 'Luckiest Guy', cursive;
     font-size: 24px; 
     color: black; 
}

.inner-text {
  font-family: 'Luckiest Guy', cursive;
  font-size:  18px;
  color: black;
}